/*Custom Colors for the website*/
:root{
    --background: #EBEBEB;/*This should be dark grey, almost black*/
    --text: #707070;
    --gray-hover: #ADADAD;
    --orange-hover: #FFCA9D;
    --orange: #FFB16E;
}

.error {color: #FF0000;}

body{
    font-family: futura-pt, sans-serif;
}

footer{
    position: fixed;
    background-color: var(--background);
    width: 100%;
    color: var(--text);
    padding: 35px;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    margin: 0 auto;
}

header{
    font-size: 20px;
    width: 100%;
    color: var(--text);
    padding: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-right{
    display: inline-block;
    margin: 0 auto;
    flex-direction: row-reverse;
    margin-right: 40px;
}

.navbar-right>*{
    margin-right: 60px;
}

.navbar-right a{
    color: var(--text);
    text-decoration: none;
}

.clickable:hover{
    color: var(--gray-hover);
}

.navbar-left{
    display: flex;
    flex-direction: row;
}

.navbar-left>*{
    margin-right: 20px;
}

.main{
    font-size: 28px;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    color: var(--text);
    padding: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}

.title{
    float: left;
    font-size: 57px;
    font-weight: 600;
    color: black;
    margin-top: auto;
}

.subtitle{
    font-size: 37px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 100px;
}

.text{
    max-width: 450px;
}

.buttons{
    margin-top: 60px;
}

.buttons a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.buttons>*{
    margin-right: 40px;
}

#projects, #skills{
    background-color: var(--orange);
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
}

#projects:hover, #skills:hover{
    background-color: var(--orange-hover);
}

.fa{
    color: white;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--orange);
}

.social{
    margin-top: 60px;
}

.social>*{
    margin-right: 48px;
}

.fa:hover{
    background-color: var(--orange-hover);
}

.project-boxes>*{
    color: black;
    text-align: center;
    background-color: var(--background);
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
    margin: 20px;
    width: 250px;
    height: 224px;
    margin: 50px;
}

.project-boxes{
    max-width: max-content;
    display: flex;
    flex-direction: row;
}

/*-------------------------Code for svg and photo-------------------------*/

.box{
    max-width: 1400px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.box svg{
    position: absolute;
    right: 200px;
}

.box img{
    position: absolute;
    right: 200px;
    bottom: 0;
}

.rectangle img{
    position: absolute;
    right: 250px;
    bottom: 220px;
}

.rectangle svg{
    position: absolute;
    right: 120px;
    bottom: 220px;
}

/*-------------------------Code for dropdown menu-------------------------*/

.dropdown{
    margin: 0 auto;
    margin-right: 100px;
}
  
#drop-down-menu{
    cursor: pointer;
}

.dropdown-content {
list-style: none;
position: absolute;
top: 3.2em;
width: 90%;
left: 0;
visibility: hidden;
overflow: hidden;
align-items: center;
}

.dropdown-content li {
background: var(--background);
border-radius: 0.5em;
position: relative;
left: 100%;
transition: 0.5s;
transition-delay: calc(60ms * var(--delay));
align-items: center;
}

.dropdown:focus-within .dropdown-content li {
left: 0;
}

.dropdown:focus-within .dropdown-content {
visibility: visible;
}

.dropdown:focus-within .dropdown-btn > .arrow {
transform: rotate(180deg);
}

.dropdown-content li a{
display: flex;
padding: 0.5em 0.5em;
color: var(--text);
margin: 0.1em 0;
text-decoration: none;
padding-left: 50%;
}

#drop2:hover, #drop3:hover, #drop4:hover{
    color: var(--gray-hover);
}

/*-------------------------Code to make things disappear when windows shrinks too much-------------------------*/

@media only screen and (max-width: 1600px) {
    .circle {
        display: none;
    }
}

@media only screen and (max-height: 800px) {
    .circle {
        display: none;
    }
}

@media only screen and (max-width: 1750px) {
    .rectangle {
        display: none;
    }
}

@media only screen and (max-height: 800px) {
    .rectangle {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-right {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    .dropdown {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .box {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1700px) {
    form {
        display: none;
    }
}

/*-------------------------Code for the Form-------------------------*/

form{
    background-color: var(--orange);
    width: 600px;
    float: right;
    margin-top: 170px;
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
    box-shadow: 9px 5px 11px -3px rgba(0,0,0,0.57);
-webkit-box-shadow: 9px 5px 11px -3px rgba(0,0,0,0.57);
-moz-box-shadow: 9px 5px 11px -3px rgba(0,0,0,0.57);
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 28;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
  color: rgba(255, 255, 255, 0.62);
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  background-color: var(--orange);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
  max-width: max-content;
  border-bottom: solid white;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: var(--orange);
  outline-style: solid;
  outline-width: thin;
  outline-color: var(--orange);
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: fit-content;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: white;
  border-radius: 40px;
  padding: 10px 40px 10px 40px;
  color: var(--orange);
  font-size: 18px;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

textarea {
    resize: none;
}